<script lang="ts" setup>
import sectors from '~~/server/api/sectors'
import { useSector } from '~~/store/sector'
import { getPrettyPrice } from '~~/helpers/price'

const sector = useSector()

const props = defineProps({
  name: { type: String, required: true },
})

const sectorInfo = sector.sectors.find(s => s.name === props.name)
</script>

<template>
	<div class="card">
    <div class="card__image">
      <!-- sorry :( я бы сделал ленивую подгрузку изображения, но уже не успеваю -->
      <img src="@/assets/img/example.jpg" alt="Пример офиса">
    </div>
    <div class="card__info">
      <div class="top">
        <div class="name">{{ sectorInfo?.title ?? '???' }}</div>
      </div>
      <div class="bottom">
        <div class="space">{{ sectorInfo?.people ?? '???' }} чел. | {{ sectorInfo?.square ?? '???' }} м<sup>2</sup></div>
        <div class="price">{{ sectorInfo?.price ? getPrettyPrice(sectorInfo.price) : '???' }} руб.</div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '@/assets/vars.scss';
.card {
  background-color: $white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: grid;
  grid-template-rows: 120px 120px;
  width: 270px;
  &__image {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
  &__info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    font-weight: bold;
    .bottom {
      display: flex;
      gap: 10px;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}
</style>
