<script lang="ts" setup>
import { useSector } from '~~/store/sector'
import { getPrettyPrice } from '~~/helpers/price'

const sector = useSector()
const sectorInfo = computed(() => {
  if (!sector.sector) return undefined
  return sector.sectors.find(s => s.name === sector.sector)
})
</script>

<template>
  <div class="the-bage">
    <div v-if="!sector.sector" class="title">Выбрать офис на карте</div>
    <div v-if="sector.sector" class="sector-bage">
      <div>Вы выбрали: {{ sectorInfo?.title ?? '???' }}</div>
      <div>Общее количество рабочих мест: {{ sectorInfo?.people ?? '???' }}</div>
      <div>Стоимость в месяц: {{ sectorInfo?.price ? getPrettyPrice(sectorInfo.price) : '???' }}</div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.the-bage {
  position: absolute;
  .reset {
    pointer-events: all;
  }
}
</style>
