<template>
  <div class="the-header">
    <div class="the-header__content">Ключ</div>
  </div>
</template>

<style lang="scss" scoped>
@import '@/assets/mixins.scss';
@import '@/assets/vars.scss';
.the-header {
  background-color: $white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  &__content {
    @include container;
    font-weight: bold;
    font-size: 1.5em;
  }
}
</style>
