<script lang="ts" setup>
const sectors = [
  { name: 'a', d: 'M234.735 3.37292H306.271L316.207 133.094H234.735V3.37292Z' },
  { name: 'b', d: 'M28.7745 159.394L14.0513 3.37292H129.928L129.93 159.394H28.7745Z' },
  { name: 'c', d: 'M901.732 138.631H852.295L852.493 9.70081H956.309L968.174 113.32L901.732 112.924V138.631Z' },
  { name: 'd', d: 'M660.284 10.8872L669.578 138.433H780.711L770.429 10.8872H660.284Z' },
  { name: 'e', d: 'M852.493 10.0963V138.631H780.711L770.231 10.0963H852.493Z' },
  { name: 'f', d: 'M558.247 19.588H659.889L668.787 138.631H606.3L602.938 89.9855H558.247V19.588Z' },
  { name: 'g', d: 'M415.475 141.399V19.1926L307.901 19.5881L312.845 76.3411L314.427 97.4999L323.919 96.7089L326.885 136.06L395.305 130.919L396.294 141.399H415.475Z' },
  { name: 'h', d: 'M792.18 289.709L675.708 286.545L670.369 178.18H792.18V289.709Z' },
  { name: 'i', d: 'M872.268 178.18H792.576V290.302L873.454 292.477L872.268 178.18Z' },
  { name: 'j', d: 'M131.117 131.71H233.549V12.2715H225.244V3.37292H205.865V12.2715H166.711V3.37292H148.914V12.2715H131.117V131.71Z' },
]
</script>

<template>
  <div class="the-map">
    <svg width="1002" height="350" viewBox="0 0 1002 350" fill="none" xmlns="http://www.w3.org/2000/svg">

      <path
        v-for="sector in sectors"
        :key="sector.name"
        class="sector"
        :d="sector.d"
        fill="#717B98"
        fill-opacity="0.2"
        @click="$emit('onSectorClick', sector.name)"
        @mouseenter="$emit('sectorActive', sector.name)"
        @mouseleave="$emit('sectorDisable', sector.name)"
      />

      <rect x="30.6619" y="1" width="256.278" height="2.76844" fill="#D1D6E8"/>
      <path d="M694.727 285.708L835.896 289.359L835.847 292.127L694.678 288.476L694.727 285.708Z" fill="#D1D6E8"/>
      <rect x="610.812" y="281.154" width="49.4364" height="2.76844" transform="rotate(-4 610.812 281.154)" fill="#D1D6E8"/>
      <rect x="335.19"  y="18.0061" width="294.246" height="2.76844" fill="#D1D6E8"/>
      <rect x="496.155" y="88.7991" width="62.0921" height="2.76844" fill="#D1D6E8"/>
      <rect x="449.883" y="137.445" width="46.2725" height="2.76844" fill="#D1D6E8"/>
      <rect x="667.008" y="8.90979" width="294.246" height="2.76844" fill="#D1D6E8"/>
      <rect x="415.475" y="27.4979" width="2.76844" height="52.9958" fill="#D1D6E8"/>
      <rect x="415.475" y="92.3586" width="2.76844" height="35.5942" fill="#D1D6E8"/>
      <rect x="261.629" y="280.217" width="39.9446" height="2.76844" fill="#D1D6E8"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M14.8422 176.005L1 1H31.4528V12.8647H15.4354L28.2889 159.197H128.151V150.891H130.919V159.197H225.046V176.005H216.938V178.576L204.876 178.773V176.005H14.8422ZM246.402 159.197V174.225H285.952V161.767H289.313V159.197H261.036V134.676H314.993L316.998 159.394H303.749V174.225H318.184L319.568 194.593L331.433 193.802L331.278 191.796L377.213 188.459L377.011 185.698L331.064 189.036L327.069 137.42L394.051 132.402L398.741 183.619L391.454 184.116L391.642 186.878L409.043 185.691L408.855 182.929L401.504 183.43L397.781 142.784H428.724V138.038H425.956V140.015H418.046V127.953H415.277V140.015H397.528L396.559 129.436L326.856 134.659L323.919 96.7089L314.427 97.4999L312.845 76.3411L322.535 75.7479L318.975 29.6731H336.772V17.8084H318.184L316.602 1H285.754V13.0625H305.133L314.769 131.908H250.357V134.676H258.267V159.197H246.402ZM50.0409 1H61.1147V12.8647H50.0409V1ZM91.5676 1H80.4938V12.8647H91.5676V1ZM109.76 1H148.914V12.8647H131.117V131.908H201.514V134.676H131.117V138.235H128.348V12.8647H109.76V1ZM205.865 1H166.711V12.8647H205.865V1ZM225.244 1H236.317V12.8647L236.317 134.676H214.368V131.908H233.549V12.8647L225.244 12.8647V1ZM265.979 1H254.905V12.8647H265.979V1ZM363.666 17.6106H418.243V29.4754H363.666V17.6106ZM599.774 17.6106H545.196V29.4754H599.774V17.6106ZM698.251 8.11888H737.01V19.9836H698.251V8.11888ZM747.292 278.24H739.778V290.104H747.292V278.24ZM793.568 279.426H796.333V291.291H788.819V279.426H790.799L791.183 178.971H701.02V167.106H799.497V178.971H793.952L793.568 279.426ZM856.052 8.11888H817.294V19.9836H851.109V137.247H814.921V140.015H867.719V137.247H853.877V19.9836H856.052V8.11888ZM875.036 8.11888H913.794V19.9836H875.036V8.11888ZM900.347 167.106H895.997V178.971H946.62V169.875H975.234L984.688 248.784L898.37 249.943V199.537H895.602V252.749L985.02 251.549L988.146 277.646L899.952 279.821L899.754 264.595H896.986V286.545L919.133 285.951L921.308 335.586L861.589 342.704L858.03 293.268L875.234 293.07V288.72H884.33V285.952H875.234L875.234 280.634L875.234 280.625V280.612L874.187 203.294H881.562V200.525H874.149L873.858 178.971H879.386V167.106H814.13V178.971H871.09L872.663 280.612H834.498V292.477H845.572L850.12 349.428L926.648 339.738L923.879 285.951L1001 283.381L967.976 8.31653H932.58V20.1813H957.298L968.292 111.935H916.563V114.704H968.623L974.902 167.106H946.62H946.224H903.116V159.987H900.347V167.106ZM657.911 142.388L657.749 140.015H627.854V137.247H657.559L655.934 113.517L665.425 113.122L664.041 91.5676L654.352 92.1608L649.606 30.0687H626.272V17.8084H651.583L660.877 8.11888H680.85V20.3791H661.273L669.838 137.247H734.439V140.015H670.041L670.171 141.795L657.911 142.388ZM758.366 8.11888H797.52V20.1814H782.886L783.677 35.0123L774.186 35.6055L776.163 63.2899L785.853 62.6967L789.412 109.76L779.723 110.156L780.514 121.625L790.203 121.032L791.472 137.247H802.068V140.015H791.689L791.983 143.772L780.316 144.563L779.961 140.015H748.083V137.247H779.746L770.626 20.1814H758.366V8.11888ZM299.201 282.788H342.902L337.563 223.859L575.254 200.723L576.045 209.424L588.7 208.04L587.514 196.373L612.034 194V192.746L612.426 192.72L610.733 167.7H614.605V164.931H589.096C589.096 164.931 589.096 164.931 589.096 164.957V165.116V166.315C589.096 167.7 589.096 167.7 589.096 167.7H607.959L609.594 191.866L595.612 193.234L594.628 180.904L591.869 181.125L592.856 193.504L571.816 195.564L570.72 181.827L567.96 182.047L569.06 195.834L555.208 197.19L552.827 167.7H575.254V164.931H531.354V167.7H550.049L552.452 197.459L538.613 198.814L537.481 181.452L534.719 181.632L535.857 199.084L515.255 201.101L513.552 181.423L510.794 181.661L512.499 201.371L498.654 202.726L495.859 167.7H517.907V164.931H490.618V167.7H493.082L495.898 202.996L470.187 205.513L467.408 175.53C466.989 171.009 470.547 167.106 475.087 167.106H477.765V164.338H475.087C468.917 164.338 464.082 169.642 464.652 175.786L467.432 205.782L321.15 220.102L325.105 270.923H299.201V282.788ZM219.114 192.615H206.853L213.972 282.788H261.431V270.923H225.639L219.114 192.615ZM590.084 222.475L578.022 223.662L583.954 286.347L614.209 283.579L613.221 271.714L595.226 273.296L590.084 222.475ZM671.16 159.197L659.493 159.592L659.893 164.931H633.391V167.7H660.086V167.507L667.601 267.759L655.538 268.748L656.132 280.81L668.787 280.415L669.381 288.325H697.46V276.855H680.454L672.832 180.355H686.98V177.587H672.613L671.16 159.197ZM589.689 137.247C589.689 137.247 589.689 137.247 589.689 138.631C589.689 140.015 589.689 140.015 589.689 140.015H573.672V137.247H577.033V91.3698H556.468V29.6732H559.236V88.6014H604.032L607.407 137.247H614.605V140.015H602.542V137.247H604.632L601.449 91.3698H579.802V137.247H589.689ZM880.177 137.247H900.347V111.54H904.302V114.308H903.116V147.332H900.347V140.015H880.177V137.247ZM895.799 185.299V178.971H898.568V185.299H895.799ZM494.969 89.7878H497.737V137.444H550.338V140.213H494.969V89.7878Z" fill="#BABFC9"/>
      <path d="M1 1V0.5H0.45889L0.501557 1.03942L1 1ZM14.8422 176.005L14.3438 176.044L14.3802 176.505H14.8422V176.005ZM31.4528 1H31.9528V0.5H31.4528V1ZM31.4528 12.8647V13.3647H31.9528V12.8647H31.4528ZM15.4354 12.8647V12.3647H14.8896L14.9374 12.9085L15.4354 12.8647ZM28.2889 159.197L27.7908 159.24L27.8309 159.697H28.2889V159.197ZM128.151 159.197V159.697H128.651V159.197H128.151ZM128.151 150.891V150.391H127.651V150.891H128.151ZM130.919 150.891H131.419V150.391H130.919V150.891ZM130.919 159.197H130.419V159.697H130.919V159.197ZM225.046 159.197H225.546V158.697H225.046V159.197ZM225.046 176.005V176.505H225.546V176.005H225.046ZM216.938 176.005V175.505H216.438V176.005H216.938ZM216.938 178.576L216.947 179.076L217.438 179.068V178.576H216.938ZM204.876 178.773H204.376V179.282L204.884 179.273L204.876 178.773ZM204.876 176.005H205.376V175.505H204.876V176.005ZM246.402 174.225H245.902V174.725H246.402V174.225ZM246.402 159.197V158.697H245.902V159.197H246.402ZM285.952 174.225V174.725H286.452V174.225H285.952ZM285.952 161.767V161.267H285.452V161.767H285.952ZM289.313 161.767V162.267H289.813V161.767H289.313ZM289.313 159.197H289.813V158.697H289.313V159.197ZM261.036 159.197H260.536V159.697H261.036V159.197ZM261.036 134.676V134.176H260.536V134.676H261.036ZM314.993 134.676L315.492 134.636L315.455 134.176H314.993V134.676ZM316.998 159.394V159.894H317.54L317.496 159.354L316.998 159.394ZM303.749 159.394V158.894H303.249V159.394H303.749ZM303.749 174.225H303.249V174.725H303.749V174.225ZM318.184 174.225L318.683 174.191L318.651 173.725H318.184V174.225ZM319.568 194.593L319.07 194.627L319.103 195.125L319.602 195.092L319.568 194.593ZM331.433 193.802L331.466 194.301L331.971 194.267L331.932 193.763L331.433 193.802ZM331.278 191.796L331.242 191.298L330.741 191.334L330.779 191.835L331.278 191.796ZM377.213 188.459L377.25 188.958L377.749 188.922L377.712 188.423L377.213 188.459ZM377.011 185.698L377.51 185.662L377.473 185.163L376.975 185.199L377.011 185.698ZM331.064 189.036L330.566 189.075L330.604 189.571L331.1 189.535L331.064 189.036ZM327.069 137.42L327.032 136.921L326.532 136.959L326.571 137.458L327.069 137.42ZM394.051 132.402L394.549 132.356L394.504 131.866L394.013 131.903L394.051 132.402ZM398.741 183.619L398.775 184.118L399.285 184.083L399.239 183.573L398.741 183.619ZM391.454 184.116L391.42 183.617L390.921 183.651L390.955 184.15L391.454 184.116ZM391.642 186.878L391.143 186.912L391.177 187.411L391.676 187.377L391.642 186.878ZM409.043 185.691L409.078 186.19L409.576 186.156L409.542 185.657L409.043 185.691ZM408.855 182.929L409.354 182.895L409.32 182.396L408.821 182.43L408.855 182.929ZM401.504 183.43L401.006 183.476L401.05 183.963L401.538 183.929L401.504 183.43ZM397.781 142.784V142.284H397.233L397.283 142.829L397.781 142.784ZM428.724 142.784V143.284H429.224V142.784H428.724ZM428.724 138.038H429.224V137.538H428.724V138.038ZM425.956 138.038V137.538H425.456V138.038H425.956ZM425.956 140.015V140.515H426.456V140.015H425.956ZM418.046 140.015H417.546V140.515H418.046V140.015ZM418.046 127.953H418.546V127.453H418.046V127.953ZM415.277 127.953V127.453H414.777V127.953H415.277ZM415.277 140.015V140.515H415.777V140.015H415.277ZM397.528 140.015L397.03 140.061L397.072 140.515H397.528V140.015ZM396.559 129.436L397.057 129.391L397.012 128.901L396.522 128.938L396.559 129.436ZM326.856 134.659L326.357 134.698L326.396 135.195L326.893 135.158L326.856 134.659ZM323.919 96.7089L324.417 96.6703L324.378 96.1689L323.877 96.2106L323.919 96.7089ZM314.427 97.4999L313.928 97.5372L313.966 98.0401L314.469 97.9982L314.427 97.4999ZM312.845 76.3411L312.814 75.842L312.309 75.873L312.346 76.3784L312.845 76.3411ZM322.535 75.7479L322.565 76.2469L323.072 76.2159L323.033 75.7094L322.535 75.7479ZM318.975 29.6731V29.1731H318.435L318.477 29.7116L318.975 29.6731ZM336.772 29.6731V30.1731H337.272V29.6731H336.772ZM336.772 17.8084H337.272V17.3084H336.772V17.8084ZM318.184 17.8084L317.686 17.8552L317.729 18.3084H318.184V17.8084ZM316.602 1L317.1 0.953148L317.057 0.5H316.602V1ZM285.754 1V0.5H285.254V1H285.754ZM285.754 13.0625H285.254V13.5625H285.754V13.0625ZM305.133 13.0625L305.631 13.0221L305.594 12.5625H305.133V13.0625ZM314.769 131.908V132.408H315.311L315.267 131.867L314.769 131.908ZM250.357 131.908V131.408H249.857V131.908H250.357ZM250.357 134.676H249.857V135.176H250.357V134.676ZM258.267 134.676H258.767V134.176H258.267V134.676ZM258.267 159.197V159.697H258.767V159.197H258.267ZM61.1147 1H61.6147V0.5H61.1147V1ZM50.0409 1V0.5H49.5409V1H50.0409ZM61.1147 12.8647V13.3647H61.6147V12.8647H61.1147ZM50.0409 12.8647H49.5409V13.3647H50.0409V12.8647ZM80.4938 1V0.5H79.9938V1H80.4938ZM91.5676 1H92.0676V0.5H91.5676V1ZM80.4938 12.8647H79.9938V13.3647H80.4938V12.8647ZM91.5676 12.8647V13.3647H92.0676V12.8647H91.5676ZM148.914 1H149.414V0.5H148.914V1ZM109.76 1V0.5H109.26V1H109.76ZM148.914 12.8647V13.3647H149.414V12.8647H148.914ZM131.117 12.8647V12.3647H130.617V12.8647H131.117ZM131.117 131.908H130.617V132.408H131.117V131.908ZM201.514 131.908H202.014V131.408H201.514V131.908ZM201.514 134.676V135.176H202.014V134.676H201.514ZM131.117 134.676V134.176H130.617V134.676H131.117ZM131.117 138.235V138.735H131.617V138.235H131.117ZM128.348 138.235H127.848V138.735H128.348V138.235ZM128.348 12.8647H128.848V12.3647H128.348V12.8647ZM109.76 12.8647H109.26V13.3647H109.76V12.8647ZM166.711 1V0.5H166.211V1H166.711ZM205.865 1H206.365V0.5H205.865V1ZM166.711 12.8647H166.211V13.3647H166.711V12.8647ZM205.865 12.8647V13.3647H206.365V12.8647H205.865ZM236.317 1H236.817V0.5H236.317V1ZM225.244 1V0.5H224.744V1H225.244ZM236.317 12.8647H236.817H236.317ZM236.317 134.676V135.176H236.817V134.676H236.317ZM214.368 134.676H213.868V135.176H214.368V134.676ZM214.368 131.908V131.408H213.868V131.908H214.368ZM233.549 131.908V132.408H234.049V131.908H233.549ZM233.549 12.8647H234.049V12.3647L233.549 12.3647V12.8647ZM225.244 12.8647H224.744V13.3647L225.244 13.3647V12.8647ZM254.905 1V0.5H254.405V1H254.905ZM265.979 1H266.479V0.5H265.979V1ZM254.905 12.8647H254.405V13.3647H254.905V12.8647ZM265.979 12.8647V13.3647H266.479V12.8647H265.979ZM418.243 17.6106H418.743V17.1106H418.243V17.6106ZM363.666 17.6106V17.1106H363.166V17.6106H363.666ZM418.243 29.4754V29.9754H418.743V29.4754H418.243ZM363.666 29.4754H363.166V29.9754H363.666V29.4754ZM545.196 17.6106V17.1106H544.696V17.6106H545.196ZM599.774 17.6106H600.274V17.1106H599.774V17.6106ZM545.196 29.4754H544.696V29.9754H545.196V29.4754ZM599.774 29.4754V29.9754H600.274V29.4754H599.774ZM737.01 8.11888H737.51V7.61888H737.01V8.11888ZM698.251 8.11888V7.61888H697.751V8.11888H698.251ZM737.01 19.9836V20.4836H737.51V19.9836H737.01ZM698.251 19.9836H697.751V20.4836H698.251V19.9836ZM739.778 278.24V277.74H739.278V278.24H739.778ZM747.292 278.24H747.792V277.74H747.292V278.24ZM739.778 290.104H739.278V290.604H739.778V290.104ZM747.292 290.104V290.604H747.792V290.104H747.292ZM796.333 279.426H796.833V278.926H796.333V279.426ZM793.568 279.426L793.068 279.424L793.066 279.926H793.568V279.426ZM796.333 291.291V291.791H796.833V291.291H796.333ZM788.819 291.291H788.319V291.791H788.819V291.291ZM788.819 279.426V278.926H788.319V279.426H788.819ZM790.799 279.426V279.926H791.297L791.299 279.428L790.799 279.426ZM791.183 178.971L791.683 178.973L791.685 178.471H791.183V178.971ZM701.02 178.971H700.52V179.471H701.02V178.971ZM701.02 167.106V166.606H700.52V167.106H701.02ZM799.497 167.106H799.997V166.606H799.497V167.106ZM799.497 178.971V179.471H799.997V178.971H799.497ZM793.952 178.971V178.471H793.454L793.452 178.969L793.952 178.971ZM817.294 8.11888V7.61888H816.794V8.11888H817.294ZM856.052 8.11888H856.552V7.61888H856.052V8.11888ZM817.294 19.9836H816.794V20.4836H817.294V19.9836ZM851.109 19.9836H851.609V19.4836H851.109V19.9836ZM851.109 137.247V137.747H851.609V137.247H851.109ZM814.921 137.247V136.747H814.421V137.247H814.921ZM814.921 140.015H814.421V140.515H814.921V140.015ZM867.719 140.015V140.515H868.219V140.015H867.719ZM867.719 137.247H868.219V136.747H867.719V137.247ZM853.877 137.247H853.377V137.747H853.877V137.247ZM853.877 19.9836V19.4836H853.377V19.9836H853.877ZM856.052 19.9836V20.4836H856.552V19.9836H856.052ZM913.794 8.11888H914.294V7.61888H913.794V8.11888ZM875.036 8.11888V7.61888H874.536V8.11888H875.036ZM913.794 19.9836V20.4836H914.294V19.9836H913.794ZM875.036 19.9836H874.536V20.4836H875.036V19.9836ZM895.997 167.106V166.606H895.497V167.106H895.997ZM900.347 167.106V167.606H900.847V167.106H900.347ZM895.997 178.971H895.497V179.471H895.997V178.971ZM946.62 178.971V179.471H947.12V178.971H946.62ZM946.62 169.875V169.375H946.12V169.875H946.62ZM975.234 169.875L975.73 169.815L975.677 169.375H975.234V169.875ZM984.688 248.784L984.695 249.284L985.251 249.277L985.185 248.725L984.688 248.784ZM898.37 249.943H897.87V250.45L898.377 250.443L898.37 249.943ZM898.37 199.537H898.87V199.037H898.37V199.537ZM895.602 199.537V199.037H895.102V199.537H895.602ZM895.602 252.749H895.102V253.256L895.608 253.249L895.602 252.749ZM985.02 251.549L985.516 251.489L985.463 251.043L985.013 251.049L985.02 251.549ZM988.146 277.646L988.159 278.146L988.708 278.132L988.643 277.587L988.146 277.646ZM899.952 279.821L899.452 279.828L899.458 280.334L899.964 280.321L899.952 279.821ZM899.754 264.595L900.254 264.588L900.248 264.095H899.754V264.595ZM896.986 264.595V264.095H896.486V264.595H896.986ZM896.986 286.545H896.486V287.058L896.999 287.045L896.986 286.545ZM919.133 285.951L919.633 285.93L919.611 285.439L919.12 285.452L919.133 285.951ZM921.308 335.586L921.368 336.082L921.828 336.027L921.808 335.564L921.308 335.586ZM861.589 342.704L861.091 342.74L861.128 343.263L861.648 343.201L861.589 342.704ZM858.03 293.268L858.024 292.768L857.493 292.774L857.531 293.304L858.03 293.268ZM875.234 293.07L875.239 293.57L875.734 293.565V293.07H875.234ZM875.234 288.72V288.22H874.734V288.72H875.234ZM884.33 288.72V289.22H884.83V288.72H884.33ZM884.33 285.952H884.83V285.452H884.33V285.952ZM875.234 285.952H874.734V286.452H875.234V285.952ZM875.234 280.634H875.734L875.734 280.627L875.234 280.634ZM875.234 280.625H874.734L874.734 280.632L875.234 280.625ZM875.234 280.612H875.734L875.734 280.606L875.234 280.612ZM874.187 203.294V202.794H873.68L873.687 203.301L874.187 203.294ZM881.562 203.294V203.794H882.062V203.294H881.562ZM881.562 200.525H882.062V200.025H881.562V200.525ZM874.149 200.525L873.65 200.532L873.656 201.025H874.149V200.525ZM873.858 178.971V178.471H873.351L873.358 178.978L873.858 178.971ZM879.386 178.971V179.471H879.886V178.971H879.386ZM879.386 167.106H879.886V166.606H879.386V167.106ZM814.13 167.106V166.606H813.63V167.106H814.13ZM814.13 178.971H813.63V179.471H814.13V178.971ZM871.09 178.971L871.59 178.963L871.582 178.471H871.09V178.971ZM872.663 280.612V281.112H873.171L873.163 280.605L872.663 280.612ZM834.498 280.612V280.112H833.998V280.612H834.498ZM834.498 292.477H833.998V292.977H834.498V292.477ZM845.572 292.477L846.07 292.437L846.033 291.977H845.572V292.477ZM850.12 349.428L849.622 349.468L849.663 349.99L850.183 349.924L850.12 349.428ZM926.648 339.738L926.71 340.234L927.171 340.176L927.147 339.713L926.648 339.738ZM923.879 285.951L923.862 285.452L923.354 285.469L923.38 285.977L923.879 285.951ZM1001 283.381L1001.02 283.881L1001.56 283.862L1001.5 283.321L1001 283.381ZM967.976 8.31653L968.473 8.25693L968.42 7.81653H967.976V8.31653ZM932.58 8.31653V7.81653H932.08V8.31653H932.58ZM932.58 20.1813H932.08V20.6813H932.58V20.1813ZM957.298 20.1813L957.795 20.1218L957.742 19.6813H957.298V20.1813ZM968.292 111.935V112.435H968.855L968.788 111.876L968.292 111.935ZM916.563 111.935V111.435H916.063V111.935H916.563ZM916.563 114.704H916.063V115.204H916.563V114.704ZM968.623 114.704L969.12 114.644L969.067 114.204H968.623V114.704ZM974.902 167.106V167.606H975.466L975.399 167.047L974.902 167.106ZM903.116 167.106H902.616V167.606H903.116V167.106ZM903.116 159.987H903.616V159.487H903.116V159.987ZM900.347 159.987V159.487H899.847V159.987H900.347ZM657.749 140.015L658.247 139.981L658.216 139.515H657.749V140.015ZM657.911 142.388L657.412 142.422L657.446 142.911L657.935 142.888L657.911 142.388ZM627.854 140.015H627.354V140.515H627.854V140.015ZM627.854 137.247V136.747H627.354V137.247H627.854ZM657.559 137.247V137.747H658.094L658.058 137.213L657.559 137.247ZM655.934 113.517L655.913 113.018L655.4 113.039L655.435 113.552L655.934 113.517ZM665.425 113.122L665.446 113.621L665.957 113.6L665.924 113.09L665.425 113.122ZM664.041 91.5676L664.54 91.5355L664.508 91.038L664.011 91.0685L664.041 91.5676ZM654.352 92.1608L653.853 92.1989L653.891 92.69L654.382 92.6599L654.352 92.1608ZM649.606 30.0687L650.104 30.0306L650.069 29.5687H649.606V30.0687ZM626.272 30.0687H625.772V30.5687H626.272V30.0687ZM626.272 17.8084V17.3084H625.772V17.8084H626.272ZM651.583 17.8084V18.3084H651.797L651.944 18.1545L651.583 17.8084ZM660.877 8.11888V7.61888H660.664L660.516 7.77277L660.877 8.11888ZM680.85 8.11888H681.35V7.61888H680.85V8.11888ZM680.85 20.3791V20.8791H681.35V20.3791H680.85ZM661.273 20.3791V19.8791H660.735L660.774 20.4157L661.273 20.3791ZM669.838 137.247L669.339 137.283L669.373 137.747H669.838V137.247ZM734.439 137.247H734.939V136.747H734.439V137.247ZM734.439 140.015V140.515H734.939V140.015H734.439ZM670.041 140.015V139.515H669.503L669.542 140.052L670.041 140.015ZM670.171 141.795L670.196 142.294L670.708 142.27L670.67 141.758L670.171 141.795ZM797.52 8.11888H798.02V7.61888H797.52V8.11888ZM758.366 8.11888V7.61888H757.866V8.11888H758.366ZM797.52 20.1814V20.6814H798.02V20.1814H797.52ZM782.886 20.1814V19.6814H782.359L782.387 20.208L782.886 20.1814ZM783.677 35.0123L783.709 35.5113L784.203 35.4804L784.177 34.9857L783.677 35.0123ZM774.186 35.6055L774.154 35.1065L773.651 35.138L773.687 35.6412L774.186 35.6055ZM776.163 63.2899L775.664 63.3256L775.7 63.8192L776.194 63.789L776.163 63.2899ZM785.853 62.6967L786.351 62.659L786.314 62.1675L785.822 62.1976L785.853 62.6967ZM789.412 109.76L789.432 110.26L789.95 110.239L789.911 109.722L789.412 109.76ZM779.723 110.156L779.702 109.656L779.188 109.677L779.224 110.19L779.723 110.156ZM780.514 121.625L780.015 121.659L780.049 122.154L780.544 122.124L780.514 121.625ZM790.203 121.032L790.702 120.993L790.663 120.503L790.172 120.533L790.203 121.032ZM791.472 137.247L790.974 137.286L791.01 137.747H791.472V137.247ZM802.068 137.247H802.568V136.747H802.068V137.247ZM802.068 140.015V140.515H802.568V140.015H802.068ZM791.689 140.015V139.515H791.148L791.19 140.054L791.689 140.015ZM791.983 143.772L792.017 144.271L792.521 144.237L792.481 143.733L791.983 143.772ZM780.316 144.563L779.817 144.602L779.856 145.096L780.35 145.062L780.316 144.563ZM779.961 140.015L780.46 139.976L780.424 139.515H779.961V140.015ZM748.083 140.015H747.583V140.515H748.083V140.015ZM748.083 137.247V136.747H747.583V137.247H748.083ZM779.746 137.247V137.747H780.286L780.244 137.208L779.746 137.247ZM770.626 20.1814L771.125 20.1425L771.089 19.6814H770.626V20.1814ZM758.366 20.1814H757.866V20.6814H758.366V20.1814ZM342.902 282.788V283.288H343.45L343.4 282.742L342.902 282.788ZM299.201 282.788H298.701V283.288H299.201V282.788ZM337.563 223.859L337.515 223.362L337.02 223.41L337.065 223.904L337.563 223.859ZM575.254 200.723L575.751 200.678L575.706 200.177L575.205 200.225L575.254 200.723ZM576.045 209.424L575.547 209.469L575.593 209.976L576.099 209.921L576.045 209.424ZM588.7 208.04L588.755 208.537L589.248 208.483L589.198 207.989L588.7 208.04ZM587.514 196.373L587.466 195.875L586.966 195.923L587.016 196.423L587.514 196.373ZM612.034 194L612.082 194.497L612.534 194.454V194H612.034ZM612.034 192.746L612 192.247L611.534 192.279V192.746H612.034ZM612.426 192.72L612.46 193.219L612.959 193.185L612.925 192.686L612.426 192.72ZM610.733 167.7V167.2H610.198L610.234 167.733L610.733 167.7ZM614.605 167.7V168.2H615.105V167.7H614.605ZM614.605 164.931H615.105V164.431H614.605V164.931ZM589.096 164.957L588.596 164.956V164.957H589.096ZM607.959 167.7L608.457 167.666L608.426 167.2H607.959V167.7ZM609.594 191.866L609.643 192.363L610.125 192.316L610.093 191.832L609.594 191.866ZM595.612 193.234L595.114 193.274L595.154 193.782L595.661 193.732L595.612 193.234ZM594.628 180.904L595.127 180.865L595.087 180.366L594.588 180.406L594.628 180.904ZM591.869 181.125L591.829 180.626L591.33 180.666L591.37 181.164L591.869 181.125ZM592.856 193.504L592.905 194.002L593.394 193.954L593.355 193.464L592.856 193.504ZM571.816 195.564L571.318 195.604L571.358 196.111L571.865 196.061L571.816 195.564ZM570.72 181.827L571.218 181.787L571.179 181.289L570.68 181.329L570.72 181.827ZM567.96 182.047L567.921 181.549L567.422 181.589L567.462 182.087L567.96 182.047ZM569.06 195.834L569.109 196.331L569.598 196.283L569.559 195.794L569.06 195.834ZM555.208 197.19L554.71 197.23L554.75 197.737L555.257 197.687L555.208 197.19ZM552.827 167.7V167.2H552.285L552.328 167.74L552.827 167.7ZM575.254 167.7V168.2H575.754V167.7H575.254ZM575.254 164.931H575.754V164.431H575.254V164.931ZM531.354 164.931V164.431H530.854V164.931H531.354ZM531.354 167.7H530.854V168.2H531.354V167.7ZM550.049 167.7L550.548 167.659L550.511 167.2H550.049V167.7ZM552.452 197.459L552.501 197.957L552.99 197.909L552.951 197.419L552.452 197.459ZM538.613 198.814L538.115 198.847L538.148 199.362L538.662 199.312L538.613 198.814ZM537.481 181.452L537.98 181.419L537.948 180.92L537.449 180.953L537.481 181.452ZM534.719 181.632L534.686 181.133L534.187 181.165L534.22 181.664L534.719 181.632ZM535.857 199.084L535.905 199.582L536.387 199.534L536.356 199.051L535.857 199.084ZM515.255 201.101L514.757 201.144L514.8 201.648L515.303 201.598L515.255 201.101ZM513.552 181.423L514.05 181.379L514.007 180.881L513.509 180.924L513.552 181.423ZM510.794 181.661L510.751 181.163L510.252 181.206L510.296 181.704L510.794 181.661ZM512.499 201.371L512.548 201.868L513.04 201.82L512.997 201.327L512.499 201.371ZM498.654 202.726L498.155 202.766L498.196 203.273L498.702 203.224L498.654 202.726ZM495.859 167.7V167.2H495.317L495.36 167.739L495.859 167.7ZM517.907 167.7V168.2H518.407V167.7H517.907ZM517.907 164.931H518.407V164.431H517.907V164.931ZM490.618 164.931V164.431H490.118V164.931H490.618ZM490.618 167.7H490.118V168.2H490.618V167.7ZM493.082 167.7L493.58 167.66L493.543 167.2H493.082V167.7ZM495.898 202.996L495.946 203.493L496.435 203.445L496.396 202.956L495.898 202.996ZM470.187 205.513L469.689 205.559L469.736 206.059L470.236 206.01L470.187 205.513ZM467.408 175.53L467.906 175.484L467.408 175.53ZM477.765 167.106V167.606H478.265V167.106H477.765ZM477.765 164.338H478.265V163.838H477.765V164.338ZM464.652 175.786L465.15 175.74L464.652 175.786ZM467.432 205.782L467.481 206.28L467.976 206.231L467.93 205.736L467.432 205.782ZM321.15 220.102L321.102 219.605L320.614 219.652L320.652 220.141L321.15 220.102ZM325.105 270.923V271.423H325.646L325.604 270.884L325.105 270.923ZM299.201 270.923V270.423H298.701V270.923H299.201ZM206.853 192.615V192.115H206.312L206.355 192.655L206.853 192.615ZM219.114 192.615L219.612 192.574L219.574 192.115H219.114V192.615ZM213.972 282.788L213.474 282.827L213.51 283.288H213.972V282.788ZM261.431 282.788V283.288H261.931V282.788H261.431ZM261.431 270.923H261.931V270.423H261.431V270.923ZM225.639 270.923L225.141 270.964L225.179 271.423H225.639V270.923ZM578.022 223.662L577.973 223.164L577.477 223.213L577.524 223.709L578.022 223.662ZM590.084 222.475L590.582 222.425L590.532 221.929L590.036 221.978L590.084 222.475ZM583.954 286.347L583.457 286.394L583.504 286.89L584 286.845L583.954 286.347ZM614.209 283.579L614.255 284.076L614.749 284.031L614.708 283.537L614.209 283.579ZM613.221 271.714L613.719 271.672L613.677 271.172L613.177 271.216L613.221 271.714ZM595.226 273.296L594.728 273.346L594.778 273.837L595.27 273.794L595.226 273.296ZM659.493 159.592L659.476 159.092L658.956 159.11L658.995 159.629L659.493 159.592ZM671.16 159.197L671.659 159.157L671.621 158.681L671.143 158.697L671.16 159.197ZM659.893 164.931V165.431H660.432L660.392 164.894L659.893 164.931ZM633.391 164.931V164.431H632.891V164.931H633.391ZM633.391 167.7H632.891V168.2H633.391V167.7ZM660.086 167.7V168.2H660.586V167.7H660.086ZM660.086 167.507L660.585 167.47L659.586 167.507H660.086ZM667.601 267.759L667.642 268.257L668.137 268.217L668.099 267.722L667.601 267.759ZM655.538 268.748L655.497 268.249L655.015 268.289L655.039 268.772L655.538 268.748ZM656.132 280.81L655.632 280.835L655.656 281.325L656.147 281.31L656.132 280.81ZM668.787 280.415L669.286 280.377L669.25 279.9L668.772 279.915L668.787 280.415ZM669.381 288.325L668.882 288.362L668.917 288.825H669.381V288.325ZM697.46 288.325V288.825H697.96V288.325H697.46ZM697.46 276.855H697.96V276.355H697.46V276.855ZM680.454 276.855L679.956 276.895L679.992 277.355H680.454V276.855ZM672.832 180.355V179.855H672.291L672.333 180.395L672.832 180.355ZM686.98 180.355V180.855H687.48V180.355H686.98ZM686.98 177.587H687.48V177.087H686.98V177.587ZM672.613 177.587L672.114 177.626L672.151 178.087H672.613V177.587ZM573.672 140.015H573.172V140.515H573.672V140.015ZM573.672 137.247V136.747H573.172V137.247H573.672ZM577.033 137.247V137.747H577.533V137.247H577.033ZM577.033 91.3698H577.533V90.8698H577.033V91.3698ZM556.468 91.3698H555.968V91.8698H556.468V91.3698ZM556.468 29.6732V29.1732H555.968V29.6732H556.468ZM559.236 29.6732H559.736V29.1732H559.236V29.6732ZM559.236 88.6014H558.736V89.1014H559.236V88.6014ZM604.032 88.6014L604.53 88.5668L604.498 88.1014H604.032V88.6014ZM607.407 137.247L606.908 137.281L606.941 137.747H607.407V137.247ZM614.605 137.247H615.105V136.747H614.605V137.247ZM614.605 140.015V140.515H615.105V140.015H614.605ZM602.542 140.015H602.042V140.515H602.542V140.015ZM602.542 137.247V136.747H602.042V137.247H602.542ZM604.632 137.247V137.747H605.168L605.131 137.212L604.632 137.247ZM601.449 91.3698L601.947 91.3352L601.915 90.8698H601.449V91.3698ZM579.802 91.3698V90.8698H579.302V91.3698H579.802ZM579.802 137.247H579.302V137.747H579.802V137.247ZM900.347 137.247V137.747H900.847V137.247H900.347ZM880.177 137.247V136.747H879.677V137.247H880.177ZM900.347 111.54V111.04H899.847V111.54H900.347ZM904.302 111.54H904.802V111.04H904.302V111.54ZM904.302 114.308V114.808H904.802V114.308H904.302ZM903.116 114.308V113.808H902.616V114.308H903.116ZM903.116 147.332V147.832H903.616V147.332H903.116ZM900.347 147.332H899.847V147.832H900.347V147.332ZM900.347 140.015H900.847V139.515H900.347V140.015ZM880.177 140.015H879.677V140.515H880.177V140.015ZM895.799 178.971V178.471H895.299V178.971H895.799ZM895.799 185.299H895.299V185.799H895.799V185.299ZM898.568 178.971H899.068V178.471H898.568V178.971ZM898.568 185.299V185.799H899.068V185.299H898.568ZM497.737 89.7878H498.237V89.2878H497.737V89.7878ZM494.969 89.7878V89.2878H494.469V89.7878H494.969ZM497.737 137.444H497.237V137.944H497.737V137.444ZM550.338 137.444H550.838V136.944H550.338V137.444ZM550.338 140.213V140.713H550.838V140.213H550.338ZM494.969 140.213H494.469V140.713H494.969V140.213ZM0.501557 1.03942L14.3438 176.044L15.3406 175.966L1.49844 0.960575L0.501557 1.03942ZM31.4528 0.5H1V1.5H31.4528V0.5ZM31.9528 12.8647V1H30.9528V12.8647H31.9528ZM15.4354 13.3647H31.4528V12.3647H15.4354V13.3647ZM28.787 159.153L15.9335 12.821L14.9374 12.9085L27.7908 159.24L28.787 159.153ZM128.151 158.697H28.2889V159.697H128.151V158.697ZM127.651 150.891V159.197H128.651V150.891H127.651ZM130.919 150.391H128.151V151.391H130.919V150.391ZM131.419 159.197V150.891H130.419V159.197H131.419ZM225.046 158.697H130.919V159.697H225.046V158.697ZM225.546 176.005V159.197H224.546V176.005H225.546ZM216.938 176.505H225.046V175.505H216.938V176.505ZM217.438 178.576V176.005H216.438V178.576H217.438ZM204.884 179.273L216.947 179.076L216.93 178.076L204.868 178.273L204.884 179.273ZM204.376 176.005V178.773H205.376V176.005H204.376ZM14.8422 176.505H204.876V175.505H14.8422V176.505ZM246.902 174.225V159.197H245.902V174.225H246.902ZM285.952 173.725H246.402V174.725H285.952V173.725ZM285.452 161.767V174.225H286.452V161.767H285.452ZM289.313 161.267H285.952V162.267H289.313V161.267ZM288.813 159.197V161.767H289.813V159.197H288.813ZM261.036 159.697H289.313V158.697H261.036V159.697ZM260.536 134.676V159.197H261.536V134.676H260.536ZM314.993 134.176H261.036V135.176H314.993V134.176ZM317.496 159.354L315.492 134.636L314.495 134.717L316.499 159.435L317.496 159.354ZM303.749 159.894H316.998V158.894H303.749V159.894ZM304.249 174.225V159.394H303.249V174.225H304.249ZM318.184 173.725H303.749V174.725H318.184V173.725ZM320.067 194.559L318.683 174.191L317.685 174.259L319.07 194.627L320.067 194.559ZM331.4 193.303L319.535 194.094L319.602 195.092L331.466 194.301L331.4 193.303ZM330.779 191.835L330.935 193.841L331.932 193.763L331.776 191.758L330.779 191.835ZM377.177 187.96L331.242 191.298L331.314 192.295L377.25 188.958L377.177 187.96ZM376.512 185.735L376.715 188.496L377.712 188.423L377.51 185.662L376.512 185.735ZM331.1 189.535L377.047 186.197L376.975 185.199L331.028 188.537L331.1 189.535ZM326.571 137.458L330.566 189.075L331.563 188.998L327.568 137.381L326.571 137.458ZM394.013 131.903L327.032 136.921L327.107 137.918L394.088 132.9L394.013 131.903ZM399.239 183.573L394.549 132.356L393.553 132.447L398.243 183.664L399.239 183.573ZM391.488 184.615L398.775 184.118L398.707 183.12L391.42 183.617L391.488 184.615ZM392.141 186.844L391.952 184.082L390.955 184.15L391.143 186.912L392.141 186.844ZM409.009 185.192L391.608 186.379L391.676 187.377L409.078 186.19L409.009 185.192ZM408.356 182.963L408.545 185.725L409.542 185.657L409.354 182.895L408.356 182.963ZM401.538 183.929L408.889 183.428L408.821 182.43L401.47 182.932L401.538 183.929ZM397.283 142.829L401.006 183.476L402.002 183.385L398.279 142.738L397.283 142.829ZM428.724 142.284H397.781V143.284H428.724V142.284ZM428.224 138.038V142.784H429.224V138.038H428.224ZM425.956 138.538H428.724V137.538H425.956V138.538ZM426.456 140.015V138.038H425.456V140.015H426.456ZM418.046 140.515H425.956V139.515H418.046V140.515ZM417.546 127.953V140.015H418.546V127.953H417.546ZM415.277 128.453H418.046V127.453H415.277V128.453ZM415.777 140.015V127.953H414.777V140.015H415.777ZM397.528 140.515H415.277V139.515H397.528V140.515ZM396.061 129.482L397.03 140.061L398.026 139.97L397.057 129.391L396.061 129.482ZM326.893 135.158L396.596 129.935L396.522 128.938L326.819 134.161L326.893 135.158ZM323.42 96.7475L326.357 134.698L327.354 134.621L324.417 96.6703L323.42 96.7475ZM314.469 97.9982L323.96 97.2072L323.877 96.2106L314.385 97.0016L314.469 97.9982ZM312.346 76.3784L313.928 97.5372L314.926 97.4626L313.344 76.3038L312.346 76.3784ZM322.504 75.2488L312.814 75.842L312.876 76.8402L322.565 76.2469L322.504 75.2488ZM318.477 29.7116L322.036 75.7864L323.033 75.7094L319.474 29.6346L318.477 29.7116ZM336.772 29.1731H318.975V30.1731H336.772V29.1731ZM336.272 17.8084V29.6731H337.272V17.8084H336.272ZM318.184 18.3084H336.772V17.3084H318.184V18.3084ZM316.104 1.04685L317.686 17.8552L318.682 17.7615L317.1 0.953148L316.104 1.04685ZM285.754 1.5H316.602V0.5H285.754V1.5ZM286.254 13.0625V1H285.254V13.0625H286.254ZM305.133 12.5625H285.754V13.5625H305.133V12.5625ZM315.267 131.867L305.631 13.0221L304.635 13.1029L314.271 131.948L315.267 131.867ZM250.357 132.408H314.769V131.408H250.357V132.408ZM250.857 134.676V131.908H249.857V134.676H250.857ZM258.267 134.176H250.357V135.176H258.267V134.176ZM258.767 159.197V134.676H257.767V159.197H258.767ZM246.402 159.697H258.267V158.697H246.402V159.697ZM61.1147 0.5H50.0409V1.5H61.1147V0.5ZM61.6147 12.8647V1H60.6147V12.8647H61.6147ZM50.0409 13.3647H61.1147V12.3647H50.0409V13.3647ZM49.5409 1V12.8647H50.5409V1H49.5409ZM80.4938 1.5H91.5676V0.5H80.4938V1.5ZM80.9938 12.8647V1H79.9938V12.8647H80.9938ZM91.5676 12.3647H80.4938V13.3647H91.5676V12.3647ZM91.0676 1V12.8647H92.0676V1H91.0676ZM148.914 0.5H109.76V1.5H148.914V0.5ZM149.414 12.8647V1H148.414V12.8647H149.414ZM131.117 13.3647H148.914V12.3647H131.117V13.3647ZM131.617 131.908V12.8647H130.617V131.908H131.617ZM201.514 131.408H131.117V132.408H201.514V131.408ZM202.014 134.676V131.908H201.014V134.676H202.014ZM131.117 135.176H201.514V134.176H131.117V135.176ZM131.617 138.235V134.676H130.617V138.235H131.617ZM128.348 138.735H131.117V137.735H128.348V138.735ZM127.848 12.8647V138.235H128.848V12.8647H127.848ZM109.76 13.3647H128.348V12.3647H109.76V13.3647ZM109.26 1V12.8647H110.26V1H109.26ZM166.711 1.5H205.865V0.5H166.711V1.5ZM167.211 12.8647V1H166.211V12.8647H167.211ZM205.865 12.3647H166.711V13.3647H205.865V12.3647ZM205.365 1V12.8647H206.365V1H205.365ZM236.317 0.5H225.244V1.5H236.317V0.5ZM236.817 12.8647V1H235.817V12.8647H236.817ZM236.817 134.676L236.817 12.8647H235.817L235.817 134.676H236.817ZM214.368 135.176H236.317V134.176H214.368V135.176ZM213.868 131.908V134.676H214.868V131.908H213.868ZM233.549 131.408H214.368V132.408H233.549V131.408ZM233.049 12.8647V131.908H234.049V12.8647H233.049ZM225.244 13.3647L233.549 13.3647V12.3647L225.244 12.3647V13.3647ZM224.744 1V12.8647H225.744V1H224.744ZM254.905 1.5H265.979V0.5H254.905V1.5ZM255.405 12.8647V1H254.405V12.8647H255.405ZM265.979 12.3647H254.905V13.3647H265.979V12.3647ZM265.479 1V12.8647H266.479V1H265.479ZM418.243 17.1106H363.666V18.1106H418.243V17.1106ZM418.743 29.4754V17.6106H417.743V29.4754H418.743ZM363.666 29.9754H418.243V28.9754H363.666V29.9754ZM363.166 17.6106V29.4754H364.166V17.6106H363.166ZM545.196 18.1106H599.774V17.1106H545.196V18.1106ZM545.696 29.4754V17.6106H544.696V29.4754H545.696ZM599.774 28.9754H545.196V29.9754H599.774V28.9754ZM599.274 17.6106V29.4754H600.274V17.6106H599.274ZM737.01 7.61888H698.251V8.61888H737.01V7.61888ZM737.51 19.9836V8.11888H736.51V19.9836H737.51ZM698.251 20.4836H737.01V19.4836H698.251V20.4836ZM697.751 8.11888V19.9836H698.751V8.11888H697.751ZM739.778 278.74H747.292V277.74H739.778V278.74ZM740.278 290.104V278.24H739.278V290.104H740.278ZM747.292 289.604H739.778V290.604H747.292V289.604ZM746.792 278.24V290.104H747.792V278.24H746.792ZM796.333 278.926H793.568V279.926H796.333V278.926ZM796.833 291.291V279.426H795.833V291.291H796.833ZM788.819 291.791H796.333V290.791H788.819V291.791ZM788.319 279.426V291.291H789.319V279.426H788.319ZM790.799 278.926H788.819V279.926H790.799V278.926ZM791.299 279.428L791.683 178.973L790.683 178.969L790.299 279.424L791.299 279.428ZM791.183 178.471H701.02V179.471H791.183V178.471ZM701.52 178.971V167.106H700.52V178.971H701.52ZM701.02 167.606H799.497V166.606H701.02V167.606ZM798.997 167.106V178.971H799.997V167.106H798.997ZM799.497 178.471H793.952V179.471H799.497V178.471ZM793.452 178.969L793.068 279.424L794.068 279.428L794.452 178.973L793.452 178.969ZM817.294 8.61888H856.052V7.61888H817.294V8.61888ZM817.794 19.9836V8.11888H816.794V19.9836H817.794ZM851.109 19.4836H817.294V20.4836H851.109V19.4836ZM851.609 137.247V19.9836H850.609V137.247H851.609ZM814.921 137.747H851.109V136.747H814.921V137.747ZM815.421 140.015V137.247H814.421V140.015H815.421ZM867.719 139.515H814.921V140.515H867.719V139.515ZM867.219 137.247V140.015H868.219V137.247H867.219ZM853.877 137.747H867.719V136.747H853.877V137.747ZM853.377 19.9836V137.247H854.377V19.9836H853.377ZM856.052 19.4836H853.877V20.4836H856.052V19.4836ZM855.552 8.11888V19.9836H856.552V8.11888H855.552ZM913.794 7.61888H875.036V8.61888H913.794V7.61888ZM914.294 19.9836V8.11888H913.294V19.9836H914.294ZM875.036 20.4836H913.794V19.4836H875.036V20.4836ZM874.536 8.11888V19.9836H875.536V8.11888H874.536ZM895.997 167.606H900.347V166.606H895.997V167.606ZM896.497 178.971V167.106H895.497V178.971H896.497ZM946.62 178.471H895.997V179.471H946.62V178.471ZM946.12 169.875V178.971H947.12V169.875H946.12ZM975.234 169.375H946.62V170.375H975.234V169.375ZM985.185 248.725L975.73 169.815L974.737 169.934L984.192 248.844L985.185 248.725ZM898.377 250.443L984.695 249.284L984.682 248.285L898.363 249.443L898.377 250.443ZM897.87 199.537V249.943H898.87V199.537H897.87ZM895.602 200.037H898.37V199.037H895.602V200.037ZM896.102 252.749V199.537H895.102V252.749H896.102ZM985.013 251.049L895.595 252.249L895.608 253.249L985.026 252.049L985.013 251.049ZM988.643 277.587L985.516 251.489L984.523 251.608L987.65 277.706L988.643 277.587ZM899.964 280.321L988.159 278.146L988.134 277.146L899.94 279.322L899.964 280.321ZM899.254 264.601L899.452 279.828L900.452 279.815L900.254 264.588L899.254 264.601ZM896.986 265.095H899.754V264.095H896.986V265.095ZM897.486 286.545V264.595H896.486V286.545H897.486ZM919.12 285.452L896.972 286.045L896.999 287.045L919.147 286.451L919.12 285.452ZM921.808 335.564L919.633 285.93L918.634 285.973L920.809 335.608L921.808 335.564ZM861.648 343.201L921.368 336.082L921.249 335.089L861.53 342.208L861.648 343.201ZM857.531 293.304L861.091 342.74L862.088 342.669L858.529 293.232L857.531 293.304ZM875.228 292.57L858.024 292.768L858.036 293.768L875.239 293.57L875.228 292.57ZM874.734 288.72V293.07H875.734V288.72H874.734ZM884.33 288.22H875.234V289.22H884.33V288.22ZM883.83 285.952V288.72H884.83V285.952H883.83ZM875.234 286.452H884.33V285.452H875.234V286.452ZM874.734 280.634L874.734 285.952H875.734L875.734 280.634H874.734ZM874.734 280.632L874.734 280.641L875.734 280.627L875.734 280.618L874.734 280.632ZM874.734 280.612V280.625H875.734V280.612H874.734ZM873.687 203.301L874.734 280.619L875.734 280.606L874.687 203.287L873.687 203.301ZM881.562 202.794H874.187V203.794H881.562V202.794ZM881.062 200.525V203.294H882.062V200.525H881.062ZM874.149 201.025H881.562V200.025H874.149V201.025ZM873.358 178.978L873.65 200.532L874.649 200.519L874.358 178.964L873.358 178.978ZM879.386 178.471H873.858V179.471H879.386V178.471ZM878.886 167.106V178.971H879.886V167.106H878.886ZM814.13 167.606H879.386V166.606H814.13V167.606ZM814.63 178.971V167.106H813.63V178.971H814.63ZM871.09 178.471H814.13V179.471H871.09V178.471ZM873.163 280.605L871.59 178.963L870.59 178.979L872.163 280.62L873.163 280.605ZM834.498 281.112H872.663V280.112H834.498V281.112ZM834.998 292.477V280.612H833.998V292.477H834.998ZM845.572 291.977H834.498V292.977H845.572V291.977ZM850.618 349.388L846.07 292.437L845.073 292.517L849.622 349.468L850.618 349.388ZM926.585 339.242L850.057 348.932L850.183 349.924L926.71 340.234L926.585 339.242ZM923.38 285.977L926.148 339.764L927.147 339.713L924.378 285.926L923.38 285.977ZM1000.98 282.881L923.862 285.452L923.896 286.451L1001.02 283.881L1000.98 282.881ZM967.48 8.37613L1000.5 283.44L1001.5 283.321L968.473 8.25693L967.48 8.37613ZM932.58 8.81653H967.976V7.81653H932.58V8.81653ZM933.08 20.1813V8.31653H932.08V20.1813H933.08ZM957.298 19.6813H932.58V20.6813H957.298V19.6813ZM968.788 111.876L957.795 20.1218L956.802 20.2407L967.795 111.995L968.788 111.876ZM916.563 112.435H968.292V111.435H916.563V112.435ZM917.063 114.704V111.935H916.063V114.704H917.063ZM968.623 114.204H916.563V115.204H968.623V114.204ZM975.399 167.047L969.12 114.644L968.127 114.763L974.406 167.166L975.399 167.047ZM946.62 167.606H974.902V166.606H946.62V167.606ZM946.224 167.606H946.62V166.606H946.224V167.606ZM903.116 167.606H946.224V166.606H903.116V167.606ZM902.616 159.987V167.106H903.616V159.987H902.616ZM900.347 160.487H903.116V159.487H900.347V160.487ZM900.847 167.106V159.987H899.847V167.106H900.847ZM657.25 140.049L657.412 142.422L658.41 142.354L658.247 139.981L657.25 140.049ZM627.854 140.515H657.749V139.515H627.854V140.515ZM627.354 137.247V140.015H628.354V137.247H627.354ZM657.559 136.747H627.854V137.747H657.559V136.747ZM655.435 113.552L657.06 137.281L658.058 137.213L656.433 113.483L655.435 113.552ZM665.405 112.622L655.913 113.018L655.955 114.017L665.446 113.621L665.405 112.622ZM663.542 91.5996L664.927 113.154L665.924 113.09L664.54 91.5355L663.542 91.5996ZM654.382 92.6599L664.072 92.0666L664.011 91.0685L654.321 91.6617L654.382 92.6599ZM649.107 30.1068L653.853 92.1989L654.85 92.1227L650.104 30.0306L649.107 30.1068ZM626.272 30.5687H649.606V29.5687H626.272V30.5687ZM625.772 17.8084V30.0687H626.772V17.8084H625.772ZM651.583 17.3084H626.272V18.3084H651.583V17.3084ZM660.516 7.77277L651.222 17.4623L651.944 18.1545L661.238 8.46499L660.516 7.77277ZM680.85 7.61888H660.877V8.61888H680.85V7.61888ZM681.35 20.3791V8.11888H680.35V20.3791H681.35ZM661.273 20.8791H680.85V19.8791H661.273V20.8791ZM670.337 137.21L661.771 20.3426L660.774 20.4157L669.339 137.283L670.337 137.21ZM734.439 136.747H669.838V137.747H734.439V136.747ZM734.939 140.015V137.247H733.939V140.015H734.939ZM670.041 140.515H734.439V139.515H670.041V140.515ZM670.67 141.758L670.54 139.979L669.542 140.052L669.673 141.832L670.67 141.758ZM657.935 142.888L670.196 142.294L670.147 141.296L657.887 141.889L657.935 142.888ZM797.52 7.61888H758.366V8.61888H797.52V7.61888ZM798.02 20.1814V8.11888H797.02V20.1814H798.02ZM782.886 20.6814H797.52V19.6814H782.886V20.6814ZM784.177 34.9857L783.386 20.1547L782.387 20.208L783.178 35.0389L784.177 34.9857ZM774.217 36.1046L783.709 35.5113L783.646 34.5133L774.154 35.1065L774.217 36.1046ZM776.662 63.2543L774.684 35.5699L773.687 35.6412L775.664 63.3256L776.662 63.2543ZM785.822 62.1976L776.133 62.7909L776.194 63.789L785.883 63.1958L785.822 62.1976ZM789.911 109.722L786.351 62.659L785.354 62.7344L788.914 109.798L789.911 109.722ZM779.743 110.655L789.432 110.26L789.392 109.261L779.702 109.656L779.743 110.655ZM781.012 121.591L780.221 110.121L779.224 110.19L780.015 121.659L781.012 121.591ZM790.172 120.533L780.483 121.126L780.544 122.124L790.234 121.531L790.172 120.533ZM791.971 137.208L790.702 120.993L789.705 121.071L790.974 137.286L791.971 137.208ZM802.068 136.747H791.472V137.747H802.068V136.747ZM802.568 140.015V137.247H801.568V140.015H802.568ZM791.689 140.515H802.068V139.515H791.689V140.515ZM792.481 143.733L792.187 139.976L791.19 140.054L791.484 143.811L792.481 143.733ZM780.35 145.062L792.017 144.271L791.949 143.274L780.282 144.065L780.35 145.062ZM779.463 140.054L779.817 144.602L780.814 144.525L780.46 139.976L779.463 140.054ZM748.083 140.515H779.961V139.515H748.083V140.515ZM747.583 137.247V140.015H748.583V137.247H747.583ZM779.746 136.747H748.083V137.747H779.746V136.747ZM770.128 20.2202L779.247 137.286L780.244 137.208L771.125 20.1425L770.128 20.2202ZM758.366 20.6814H770.626V19.6814H758.366V20.6814ZM757.866 8.11888V20.1814H758.866V8.11888H757.866ZM342.902 282.288H299.201V283.288H342.902V282.288ZM337.065 223.904L342.404 282.833L343.4 282.742L338.061 223.814L337.065 223.904ZM575.205 200.225L337.515 223.362L337.612 224.357L575.302 201.221L575.205 200.225ZM576.542 209.379L575.751 200.678L574.756 200.768L575.547 209.469L576.542 209.379ZM588.646 207.543L575.99 208.927L576.099 209.921L588.755 208.537L588.646 207.543ZM587.016 196.423L588.203 208.09L589.198 207.989L588.011 196.322L587.016 196.423ZM611.986 193.502L587.466 195.875L587.562 196.87L612.082 194.497L611.986 193.502ZM611.534 192.746V194H612.534V192.746H611.534ZM612.393 192.221L612 192.247L612.068 193.245L612.46 193.219L612.393 192.221ZM610.234 167.733L611.928 192.754L612.925 192.686L611.232 167.666L610.234 167.733ZM614.605 167.2H610.733V168.2H614.605V167.2ZM614.105 164.931V167.7H615.105V164.931H614.105ZM589.096 165.431H614.605V164.431H589.096V165.431ZM589.596 164.958C589.596 164.945 589.596 164.94 589.596 164.939C589.596 164.937 589.596 164.943 589.596 164.951C589.595 164.953 589.595 164.958 589.595 164.965C589.594 164.969 589.593 164.986 589.59 165.006C589.589 165.016 589.585 165.036 589.579 165.061C589.573 165.082 589.558 165.133 589.524 165.19C589.484 165.256 589.41 165.343 589.287 165.393C589.182 165.437 589.084 165.431 589.096 165.431V164.431C589.096 164.431 589.096 164.431 589.095 164.431C589.095 164.431 589.094 164.431 589.093 164.431C589.091 164.431 589.087 164.431 589.083 164.431C589.075 164.432 589.061 164.432 589.045 164.434C589.01 164.437 588.961 164.446 588.905 164.469C588.782 164.52 588.708 164.606 588.668 164.673C588.633 164.73 588.619 164.781 588.613 164.801C588.606 164.826 588.603 164.846 588.602 164.857C588.598 164.877 588.597 164.893 588.597 164.898C588.597 164.905 588.596 164.91 588.596 164.913C588.596 164.921 588.596 164.929 588.596 164.93C588.596 164.935 588.596 164.943 588.596 164.956L589.596 164.958ZM589.596 165.116V164.957H588.596V165.116H589.596ZM589.596 166.315V165.116H588.596V166.315H589.596ZM589.096 167.2C589.086 167.2 589.238 167.189 589.382 167.29C589.51 167.379 589.555 167.498 589.567 167.532C589.582 167.575 589.588 167.611 589.59 167.622C589.592 167.638 589.594 167.65 589.594 167.656C589.595 167.668 589.595 167.678 589.596 167.68C589.596 167.684 589.596 167.687 589.596 167.689C589.596 167.693 589.596 167.696 589.596 167.695C589.596 167.693 589.596 167.689 589.596 167.678C589.596 167.656 589.596 167.613 589.596 167.527C589.596 167.354 589.596 167.008 589.596 166.315H588.596C588.596 167.008 588.596 167.354 588.596 167.527C588.596 167.613 588.596 167.657 588.596 167.679C588.596 167.689 588.596 167.696 588.596 167.699C588.596 167.7 588.596 167.705 588.596 167.71C588.596 167.712 588.596 167.715 588.596 167.719C588.596 167.721 588.597 167.731 588.598 167.743C588.598 167.749 588.6 167.762 588.602 167.777C588.604 167.788 588.609 167.824 588.625 167.867C588.637 167.901 588.682 168.02 588.81 168.11C588.879 168.158 588.95 168.182 589.01 168.192C589.031 168.196 589.063 168.199 589.074 168.199C589.085 168.2 589.096 168.2 589.096 168.2V167.2ZM607.959 167.2H589.096V168.2H607.959V167.2ZM610.093 191.832L608.457 167.666L607.46 167.733L609.095 191.899L610.093 191.832ZM595.661 193.732L609.643 192.363L609.545 191.368L595.563 192.737L595.661 193.732ZM594.13 180.944L595.114 193.274L596.11 193.195L595.127 180.865L594.13 180.944ZM591.908 181.623L594.668 181.403L594.588 180.406L591.829 180.626L591.908 181.623ZM593.355 193.464L592.367 181.085L591.37 181.164L592.358 193.544L593.355 193.464ZM571.865 196.061L592.905 194.002L592.808 193.007L571.767 195.066L571.865 196.061ZM570.222 181.867L571.318 195.604L572.314 195.524L571.218 181.787L570.222 181.867ZM568 182.546L570.76 182.326L570.68 181.329L567.921 181.549L568 182.546ZM569.559 195.794L568.459 182.008L567.462 182.087L568.562 195.873L569.559 195.794ZM555.257 197.687L569.109 196.331L569.012 195.336L555.159 196.692L555.257 197.687ZM552.328 167.74L554.71 197.23L555.706 197.149L553.325 167.659L552.328 167.74ZM575.254 167.2H552.827V168.2H575.254V167.2ZM574.754 164.931V167.7H575.754V164.931H574.754ZM531.354 165.431H575.254V164.431H531.354V165.431ZM531.854 167.7V164.931H530.854V167.7H531.854ZM550.049 167.2H531.354V168.2H550.049V167.2ZM552.951 197.419L550.548 167.659L549.551 167.74L551.954 197.5L552.951 197.419ZM538.662 199.312L552.501 197.957L552.404 196.962L538.565 198.316L538.662 199.312ZM536.982 181.484L538.115 198.847L539.112 198.782L537.98 181.419L536.982 181.484ZM534.751 182.131L537.514 181.951L537.449 180.953L534.686 181.133L534.751 182.131ZM536.356 199.051L535.218 181.599L534.22 181.664L535.358 199.117L536.356 199.051ZM515.303 201.598L535.905 199.582L535.808 198.586L515.206 200.603L515.303 201.598ZM513.054 181.466L514.757 201.144L515.753 201.058L514.05 181.379L513.054 181.466ZM510.837 182.159L513.595 181.921L513.509 180.924L510.751 181.163L510.837 182.159ZM512.997 201.327L511.292 181.618L510.296 181.704L512.001 201.414L512.997 201.327ZM498.702 203.224L512.548 201.868L512.451 200.873L498.605 202.228L498.702 203.224ZM495.36 167.739L498.155 202.766L499.152 202.686L496.357 167.66L495.36 167.739ZM517.907 167.2H495.859V168.2H517.907V167.2ZM517.407 164.931V167.7H518.407V164.931H517.407ZM490.618 165.431H517.907V164.431H490.618V165.431ZM491.118 167.7V164.931H490.118V167.7H491.118ZM493.082 167.2H490.618V168.2H493.082V167.2ZM496.396 202.956L493.58 167.66L492.583 167.739L495.399 203.035L496.396 202.956ZM470.236 206.01L495.946 203.493L495.849 202.498L470.138 205.015L470.236 206.01ZM466.91 175.576L469.689 205.559L470.685 205.466L467.906 175.484L466.91 175.576ZM475.087 166.606C470.253 166.606 466.464 170.762 466.91 175.576L467.906 175.484C467.514 171.256 470.842 167.606 475.087 167.606V166.606ZM477.765 166.606H475.087V167.606H477.765V166.606ZM477.265 164.338V167.106H478.265V164.338H477.265ZM475.087 164.838H477.765V163.838H475.087V164.838ZM465.15 175.74C464.607 169.889 469.212 164.838 475.087 164.838V163.838C468.623 163.838 463.557 169.395 464.154 175.832L465.15 175.74ZM467.93 205.736L465.15 175.74L464.154 175.832L466.934 205.828L467.93 205.736ZM321.199 220.6L467.481 206.28L467.383 205.285L321.102 219.605L321.199 220.6ZM325.604 270.884L321.649 220.063L320.652 220.141L324.607 270.962L325.604 270.884ZM299.201 271.423H325.105V270.423H299.201V271.423ZM299.701 282.788V270.923H298.701V282.788H299.701ZM206.853 193.115H219.114V192.115H206.853V193.115ZM214.471 282.748L207.352 192.576L206.355 192.655L213.474 282.827L214.471 282.748ZM261.431 282.288H213.972V283.288H261.431V282.288ZM260.931 270.923V282.788H261.931V270.923H260.931ZM225.639 271.423H261.431V270.423H225.639V271.423ZM218.615 192.657L225.141 270.964L226.137 270.881L219.612 192.574L218.615 192.657ZM578.071 224.159L590.133 222.973L590.036 221.978L577.973 223.164L578.071 224.159ZM584.452 286.3L578.52 223.615L577.524 223.709L583.457 286.394L584.452 286.3ZM614.164 283.081L583.909 285.849L584 286.845L614.255 284.076L614.164 283.081ZM612.722 271.755L613.711 283.62L614.708 283.537L613.719 271.672L612.722 271.755ZM595.27 273.794L613.264 272.212L613.177 271.216L595.182 272.798L595.27 273.794ZM589.587 222.525L594.728 273.346L595.723 273.245L590.582 222.425L589.587 222.525ZM659.51 160.092L671.177 159.696L671.143 158.697L659.476 159.092L659.51 160.092ZM660.392 164.894L659.992 159.555L658.995 159.629L659.395 164.969L660.392 164.894ZM633.391 165.431H659.893V164.431H633.391V165.431ZM633.891 167.7V164.931H632.891V167.7H633.891ZM660.086 167.2H633.391V168.2H660.086V167.2ZM659.586 167.507V167.7H660.586V167.507H659.586ZM668.099 267.722L660.585 167.47L659.588 167.544L667.102 267.796L668.099 267.722ZM655.579 269.246L667.642 268.257L667.56 267.261L655.497 268.249L655.579 269.246ZM656.631 280.786L656.038 268.723L655.039 268.772L655.632 280.835L656.631 280.786ZM668.772 279.915L656.116 280.31L656.147 281.31L668.803 280.914L668.772 279.915ZM669.879 288.287L669.286 280.377L668.289 280.452L668.882 288.362L669.879 288.287ZM697.46 287.825H669.381V288.825H697.46V287.825ZM696.96 276.855V288.325H697.96V276.855H696.96ZM680.454 277.355H697.46V276.355H680.454V277.355ZM672.333 180.395L679.956 276.895L680.953 276.816L673.33 180.316L672.333 180.395ZM686.98 179.855H672.832V180.855H686.98V179.855ZM686.48 177.587V180.355H687.48V177.587H686.48ZM672.613 178.087H686.98V177.087H672.613V178.087ZM670.662 159.236L672.114 177.626L673.111 177.548L671.659 159.157L670.662 159.236ZM590.189 138.631C590.189 137.939 590.189 137.593 590.189 137.42C590.189 137.333 590.189 137.29 590.189 137.268C590.189 137.257 590.189 137.251 590.189 137.248C590.189 137.247 590.189 137.244 590.189 137.241C590.189 137.241 590.189 137.239 590.189 137.237C590.189 137.236 590.189 137.231 590.188 137.224C590.188 137.221 590.188 137.215 590.187 137.207C590.187 137.201 590.185 137.182 590.181 137.158C590.179 137.146 590.174 137.122 590.165 137.094C590.157 137.069 590.137 137.014 590.094 136.954C590.043 136.884 589.964 136.813 589.852 136.774C589.814 136.763 589.753 136.751 589.732 136.749C589.71 136.747 589.689 136.747 589.689 136.747V137.747C589.7 137.747 589.617 137.751 589.525 137.719C589.414 137.681 589.334 137.61 589.284 137.54C589.24 137.48 589.221 137.425 589.213 137.4C589.204 137.371 589.199 137.348 589.197 137.336C589.192 137.311 589.191 137.292 589.19 137.287C589.19 137.279 589.19 137.272 589.189 137.269C589.189 137.263 589.189 137.258 589.189 137.257C589.189 137.255 589.189 137.253 589.189 137.253C589.189 137.251 589.189 137.249 589.189 137.251C589.189 137.253 589.189 137.258 589.189 137.269C589.189 137.29 589.189 137.333 589.189 137.42C589.189 137.593 589.189 137.939 589.189 138.631H590.189ZM589.689 140.515C589.689 140.515 589.71 140.515 589.732 140.513C589.753 140.511 589.814 140.499 589.852 140.488C589.964 140.449 590.043 140.378 590.094 140.308C590.137 140.248 590.157 140.193 590.165 140.168C590.174 140.14 590.179 140.116 590.181 140.104C590.185 140.08 590.187 140.061 590.187 140.055C590.188 140.047 590.188 140.041 590.188 140.038C590.189 140.031 590.189 140.026 590.189 140.025C590.189 140.023 590.189 140.021 590.189 140.02C590.189 140.018 590.189 140.015 590.189 140.014C590.189 140.011 590.189 140.005 590.189 139.994C590.189 139.972 590.189 139.929 590.189 139.842C590.189 139.669 590.189 139.323 590.189 138.631H589.189C589.189 139.323 589.189 139.669 589.189 139.842C589.189 139.929 589.189 139.972 589.189 139.993C589.189 140.004 589.189 140.009 589.189 140.011C589.189 140.013 589.189 140.011 589.189 140.009C589.189 140.009 589.189 140.007 589.189 140.005C589.189 140.004 589.189 139.999 589.189 139.993C589.19 139.99 589.19 139.983 589.19 139.975C589.191 139.97 589.192 139.951 589.197 139.926C589.199 139.914 589.204 139.891 589.213 139.862C589.221 139.837 589.24 139.782 589.284 139.722C589.334 139.652 589.414 139.581 589.525 139.543C589.617 139.511 589.7 139.515 589.689 139.515V140.515ZM573.672 140.515H589.689V139.515H573.672V140.515ZM573.172 137.247V140.015H574.172V137.247H573.172ZM577.033 136.747H573.672V137.747H577.033V136.747ZM576.533 91.3698V137.247H577.533V91.3698H576.533ZM556.468 91.8698H577.033V90.8698H556.468V91.8698ZM555.968 29.6732V91.3698H556.968V29.6732H555.968ZM559.236 29.1732H556.468V30.1732H559.236V29.1732ZM559.736 88.6014V29.6732H558.736V88.6014H559.736ZM604.032 88.1014H559.236V89.1014H604.032V88.1014ZM607.906 137.212L604.53 88.5668L603.533 88.636L606.908 137.281L607.906 137.212ZM614.605 136.747H607.407V137.747H614.605V136.747ZM615.105 140.015V137.247H614.105V140.015H615.105ZM602.542 140.515H614.605V139.515H602.542V140.515ZM602.042 137.247V140.015H603.042V137.247H602.042ZM604.632 136.747H602.542V137.747H604.632V136.747ZM600.95 91.4044L604.133 137.281L605.131 137.212L601.947 91.3352L600.95 91.4044ZM579.802 91.8698H601.449V90.8698H579.802V91.8698ZM580.302 137.247V91.3698H579.302V137.247H580.302ZM589.689 136.747H579.802V137.747H589.689V136.747ZM900.347 136.747H880.177V137.747H900.347V136.747ZM899.847 111.54V137.247H900.847V111.54H899.847ZM904.302 111.04H900.347V112.04H904.302V111.04ZM904.802 114.308V111.54H903.802V114.308H904.802ZM903.116 114.808H904.302V113.808H903.116V114.808ZM903.616 147.332V114.308H902.616V147.332H903.616ZM900.347 147.832H903.116V146.832H900.347V147.832ZM899.847 140.015V147.332H900.847V140.015H899.847ZM880.177 140.515H900.347V139.515H880.177V140.515ZM879.677 137.247V140.015H880.677V137.247H879.677ZM895.299 178.971V185.299H896.299V178.971H895.299ZM898.568 178.471H895.799V179.471H898.568V178.471ZM899.068 185.299V178.971H898.068V185.299H899.068ZM895.799 185.799H898.568V184.799H895.799V185.799ZM497.737 89.2878H494.969V90.2878H497.737V89.2878ZM498.237 137.444V89.7878H497.237V137.444H498.237ZM550.338 136.944H497.737V137.944H550.338V136.944ZM550.838 140.213V137.444H549.838V140.213H550.838ZM494.969 140.713H550.338V139.713H494.969V140.713ZM494.469 89.7878V140.213H495.469V89.7878H494.469Z" fill="#788095"/>
    </svg>
  </div>
</template>

<style lang="scss" scoped>
@import '@/assets/vars.scss';
.the-map {
  display: flex;
  justify-content: center;
  align-items: center;
  .sector {
    transition: .1s linear all;
    &:hover {
      fill: $green;
      fill-opacity: 1;
    }
  }
}
</style>
