<script lang="ts" setup>
const scale = useState('scale', () => 1)
const zoomValues = [1, 1.5, 2, 2.5, 3]

const canZoom = computed((): { dec: boolean, inc: boolean } => {
  const scalePosition = zoomValues.indexOf(scale.value)
  return { dec: scalePosition !== 0, inc: scalePosition !== zoomValues.length - 1 }
})

const zoom = (action: 'inc' | 'dec') => {
  if (!canZoom.value[action]) return
  const scalePosition = zoomValues.indexOf(scale.value)
  const newScalePosition = action === 'inc' ? scalePosition + 1 : scalePosition - 1
  scale.value = zoomValues[newScalePosition]
}
</script>

<template>
  <div class="zoom-container">
    <div class="zoom-container__area">
      <div class="zoom-container__slot" :style="{ 'transform': `scale(${scale})` }">
        <slot />
      </div>
    </div>
    <div class="zoom-container__controls">
      <div class="zoom-btn" @click="zoom('inc')" :class="{ 'lock': !canZoom.inc }">+</div>
      <div class="zoom-btn" @click="zoom('dec')" :class="{ 'lock': !canZoom.dec }">-</div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '@/assets/vars.scss';
.zoom-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  &__area {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
  }
  &__slot {
    transform-origin: left top;
    transition: .2s linear all;
    margin: 0 auto;
  }
  &__controls {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    .zoom-btn {
      width:  2.5em;
      height: 2.5em;
      border-radius: 9999px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      color: $black;
      cursor: pointer;
      font-size: 1em;
      line-height: 1em;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      user-select: none;
      &:hover:not(.lock) {
        color: $white;
        background-color: $black;
      }
      &.lock {
        cursor: not-allowed;
        opacity: .4;
      }
    }
  }
}
</style>
