@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('@/assets/fonts/GTWalsheimPro-Bold.woff2');
  font-weight: bold;
}

html, body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-family: 'GT Walsheim Pro';
  height: 100%;
}

* {
  box-sizing: border-box;
}

#__nuxt {
  height: 100%;
}
