<script lang="ts" setup>
import { useSector } from '~~/store/sector';

const sector = useSector()
</script>

<template>
  <div id="root">
    <div class="main-layout">
      <TheHeader class="main-layout__header" />
      <div class="main-layout__container">
        <div class="main-layout__content">
          <slot />
        </div>
      </div>
    </div>
    <div class="notification">
      <div v-show="sector.showMessage" class="msg">{{ sector.messageText }}</div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '@/assets/mixins.scss';
@import '@/assets/vars.scss';
#root {
  height: 100%;
  .main-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    &__container {
      flex-grow: 1;
      overflow-x: hidden;
      overflow-y: scroll;
      background-color: $gray;
    }
    &__content {
      @include container;
      padding: 20px 0;
      height: 100%;
    }
  }
  .notification {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    .msg {
      color: $white;
      padding: 1.5em 2.5em;
      background-color: #28292DCC;
      border-radius: 100px;
    }
  }
}
</style>
