<script lang="ts" setup>
import Card from '~~/components/Card.vue'
import { useSector } from '~~/store/sector'

const sector = useSector()

sector.loadSectors()

const activeSector = useState<string | null>('activeSector', () => null)
const mousePosition = useState<{x: number, y: number}>('mousePosition', () => {return { x: -1, y: -1 }})

const onSectorClick = (sectorCode: string) => {
  sector.setSector(sectorCode)
}

const trackPointer = (e: MouseEvent) => {
  mousePosition.value = { x: e.clientX, y: e.clientY }
}
</script>

<template>
  <div class="page-container">
    <TheBage />
    <ZoomContainer @mousemove="trackPointer">
      <TheMap
        @onSectorClick="onSectorClick($event)"
        @sectorActive="activeSector = $event"
        @sectorDisable="activeSector = null"
      />
    </ZoomContainer>
    <div
      v-if="activeSector && mousePosition.x !== -1 && mousePosition.y !== -1"
      class="card"
      :style="{ 'top': mousePosition.y - 20 + 'px', 'left': mousePosition.x + 'px' }"
    >
      <Card :name="activeSector" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.page-container {
  width: 100%;
  height: 100%;
  .card {
    position: fixed;
    pointer-events: none;
    transform: translateX(-50%) translateY(-100%);
  }
}
</style>
